@font-face {
	font-family: 'lmroman';
	src: url('../fonts/lmroman10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmroman-bold';
	src: url('../fonts/lmroman10-bold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'palatino';
	src: url('../fonts/palatino-linotype.woff') format('woff');
}
@font-face {
	font-family: 'lmroman';
	src: url('../fonts/lmroman10-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'tex-gyre-bonum';
	src: url('../fonts/texgyrebonum-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'tex-gyre-bonum-italic';
	src: url('../fonts/texgyrebonum-italic-webfont.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'tex-gyre-bonum-bold';
	src: url('../fonts/texgyrebonum-bold-webfont.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: 'tex-gyre-bonum-bolditalic';
	src: url('../fonts/texgyrebonum-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'caps';
	src: url('../fonts/lmromancaps10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'type-writer';
	src: url('../fonts/nimbusmono-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmmono';
	src: url('../fonts/lmmono10-regular-webfont.woff') format('woff');
}
body {font-family:'tex-gyre-bonum';}
b {font-family: 'tex-gyre-bonum-bold';}
i {font-family: 'tex-gyre-bonum-italic';}
h1,h2 {font-family: 'lmroman';}
h3 {font-family: 'caps';}
code {font-family: 'lmmono';}