main {
  display: grid;
  grid-template-columns: 55% 45%;
}

header {
  line-height: 0.1;
}

section {
  margin: 12px;
  padding: 3px;
}


body { line-height: 1.8; }

td svg {
  vertical-align: middle;
}

h3 {
  line-height: 0.2;
}


/* Make tables 100% width of their container. The Communication skills table has its own specification */
table {
  width: 100%;
}

.profile tr {
  line-height: 30px;
}
.profile { border-radius: 10px;}

.education tr {
  line-height: 25px;
}

/* center align the left column in tables */
td:first-child {
  text-align: center;
}

/* left align the second column in tables */
td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

table.comm-skills td {
  text-align: left;
}

/* Make the `comm-skills` table 50% of the width. Add 10px padding to the left */
table.comm-skills {
  padding-left: 10px;
  width: 50%;
}
