@page { margin: 0 }
body {margin: 0;}

body div {
  width: 210mm; height: 297mm; /* Paper size */
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  padding: 12mm; /* Padding area */
}

/** For screen preview **/
@media screen { 
  body { background: #e0e0e0 }

  body div {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print { body{ width: 210mm } }